.dropdown {
  display: inline-block;
  position: relative;
}

.dropdownOnHover:hover > .dropdownMenu {
  animation: fadeInShow .3s;
  display: block;
}

.dropdownMenu {
  background-color: #fff;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  color: #000;
  display: none;
  font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  letter-spacing: .00937em;
  line-height: 1.5rem;
  list-style-type: none;
  margin: 0;
  min-width: 10rem;
  padding: .25rem 0;
  position: absolute;
  text-decoration: inherit;
  text-transform: inherit;
  z-index: 30;
}

.dropdownMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 2.5rem;
  padding: .5rem 1.5rem;
}

.dropdownMenuItem > .dropdownMenu {
  left: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.dropdownMenuItem:hover > .dropdownMenu {
  animation: fadeInShow .3s;
  display: block;
}

.dropdownMenuItem:hover:not(.disabled) {
  background: rgba(0, 0, 0, .08);
}

.disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}

.show {
  animation: fadeInShow .3s;
  display: block;
}

.withSubitem {
  cursor: default;
  display: flex;
  justify-content: space-between;
}

.withSubitem:after {
  border: solid #000;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  margin-left: 1rem;
  padding: 3px;
  transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes fadeInShow {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}
